@import "../general.scss";
main {
    @extend %main;
    .line{
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid #ECECEC;
    }
}
.main_fixed{
    margin-top: 90px
}
.fd-row{
    @extend %d-row;
    .slider {
        margin: 0 auto 0 0;
        padding: 20px 0 20px calcFluid(0, 200, 320, 1920) ;
        width: calcFluid(200, 900, 320, 1920);
        background-color: #0d0337;
        overflow: hidden;
        position: relative;
        .slides {
            width: 400%;
            display: flex;
            input[name="r"] {
                position: absolute;
                visibility: hidden;
            }
            .slide {
                @extend %d-row;
                width: 100%;
                transition: all 0.6s ease;

                &__contant {
                    width: 230px;
                    @extend %d-col;
                    margin: auto 0
                }

                &__text {
                    @extend %d-col;
                    color: white;
                    h2 {
                        font-weight: 900;
                        font-size: calcFluid(20, 32, 320, 1920);
                        margin: 10px 0;    
                    }
                    p {
                        font-size: calcFluid(15, 20, 320, 1920);
                        margin: 10px 0;
                    }
                }

                &__button {
                    @extend %d-row;
                   margin: 10px 0 30px 0;
                    .more {
                        @extend %more;
                        margin: auto 0;
                    }
                    a:nth-child(2) {
                        margin: auto 10px;
                        padding: 10px;
                        border: 1px solid;
                        border-image-source:$gradient;
                        border-image-slice:1;
                        .block{
                            border: 10px solid transparent;
                            border-left: 20px solid;
                            margin: auto 0 auto 10px;
                        }
                    }
                }

                &__radius {
                    margin: 20px  0 20px calcFluid(-20, 50, 1024, 1920);
                    width: calcFluid(100, 500, 320, 1920);
                    height: calcFluid(50, 272, 320, 1920);
                    border-radius: 50%;
                    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.25);
                    background-color: white;
                    img{width: 90%; margin: 0 calcFluid(20, 35, 1024, 1920);}
                }
            }
            .navigation-auto {
                display: flex;
                position: absolute;
                bottom: 10px;
            }
            .navigation-auto div {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 1px solid white;
                cursor: pointer;
                transition: all 0.4s ease;
                margin: 10px;
                &:first-child{
                    margin-left: 0;
                }
            }
            #r1:checked ~ .navigation-auto .auto-btn1,
            #r2:checked ~ .navigation-auto .auto-btn2,
            #r3:checked ~ .navigation-auto .auto-btn3,
            #r4:checked ~ .navigation-auto .auto-btn4 {
                background: $gradient;
            }
        }
        .navigation {
            display: flex;
            position: absolute;
            bottom: 10px;
        
            &__bar {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 1px solid white;
                cursor: pointer;
                transition: all 0.4s ease;
                margin: 10px;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        #r1:checked ~ .s1 {
            margin-left: 0;
        }
        #r2:checked ~ .s1 {
            margin-left: -33.5%;
        }
        #r3:checked ~ .s1 {
            margin-left: -100%;
        }
        #r4:checked ~ .s1 {
            margin-left: -300%;
        }
    }
    .card{
        margin: 0 calcFluid(8, 200, 320, 1920) 0 0;

    }
}
.advantages-row{
    padding:0 calcFluid(8, 300, 320, 1920);
    @extend %d-row;
}
.advantages{
    margin: 20px 0 0 0;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    @extend %d-col;
    padding: 10px;
    &__content{
        @extend %d-col;
        h2{
            font-weight: 900;
            font-size: calcFluid(16, 20, 320, 1920);
            margin:calcFluid(10, 30, 320, 1920) 0 10px 0;
        }
        p{
            font-size: calcFluid(13, 16, 320, 1920);
            margin: 0;
    
        }
    }
    img{
        max-width: 27%;
    }
    &:not(:first-child){
        margin-left: calcFluid(15, 20, 1024, 1920);
    }
}
.card {
    @extend %card;
}
.choose{
    padding-right: calcFluid(8, 200, 320, 1920);
    width: 60%;
    margin: 0 0 100px 0;
    @extend %d-col;
    select:focus,
    select:hover,
    option:hover,
    option:focus {
        border:none;
        outline:none;
        border:transparent;
    }
    .choose__more{
        z-index: 5;
        @extend %more;        
        option{

            color: black;
        }
    }
    img{
        margin:50px 0 0 calcFluid(8, 200, 320, 1920);
        width: 75%;
    }
}
.content{
    width: 40%;
    margin: auto 0;
    @extend %d-col;
    padding-left: calcFluid(8, 200, 320, 1920);
    select:focus,
    select:hover,
    option:hover,
    option:focus {
        border:none;
        outline:none;
        border:transparent;
    }
    .choose__more{
        display: none;
        @extend %more;
        option{
            color: black;
        }
    }
    h3{
        color: #58585e;
        font-weight: 900;
        font-size:calcFluid(18, 25, 320, 1920);
        margin: 0;
    }
    h2{
        font-weight: 900;
        font-size: calcFluid(13, 30, 320, 1920);
    }
    p{
        font-size: calcFluid(13, 20, 850, 1920);
        margin: 0 0 20px 0 ;
    }
    .fd-row{
        @extend %d-row;
        a{
            text-decoration: none;
            .content__text{
                font-size: calcFluid(12, 20, 320, 1920);
                font-weight: 900;
                margin: 10px 0;
                color: black;
            }
        }
        .content__Youtube{
            margin: auto 10px auto 0;
            padding: 10px;
            border: 1px solid;
            border-image-source:linear-gradient(90deg, #5134c4,#773cbc,#b856d4);
            border-image-slice:1;
            .block1{
                border: calcFluid(5, 7, 320, 800)solid transparent;
                border-left: calcFluid(11, 13, 320, 800) solid;
                margin: auto 0 auto calcFluid(5, 8, 320, 800);
            }
        }
        .prev__active,
        .next__active{
            @extend %sliderBtn;
        }
        
        .prev, 
        .next{
            color: gray;
            padding: 0px 5px 5px 5px;
            font-size: calcFluid(25, 30, 1024, 1920);
            margin: 20px 0 0 10px;
        }
        .prev{
            margin: 20px 0 0 0;
        }
    }
}
.furniture {
    padding:  calcFluid(8, 20, 320, 1920) 40px  calcFluid(8, 20, 320, 1920) calcFluid(8, 200, 320, 1920) ;
    background-color: #F2F2F2;
    @extend %d-row;
    margin-right: calcFluid(8, 200, 320, 1920);
    .content{
        margin: auto 0;
        padding: 0;
        width: 35%;
        p{
            display: block;
        }
    }
    .card {
        box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.25);
        .card__img{
            width: 60%;
            margin:  auto auto 0 auto ;
        }
        .card__bag{
            position: absolute; 
            bottom: -20px;
            right: 10px;
            border-radius: 50%;
            padding: 5px 10px;
            background: none;
            border:2px solid #5134c4;
            font-size: 20px;
        }
    }
    .slider{
        padding: 20px 0 20px 0;
        @extend %slider;
        width: 65%;
    }
}

.katalog{
    padding: 0  calcFluid(8, 200, 320, 1920);
    @extend %d-col;
    .katalog-row{
        @extend %d-row;
        margin: 20px 0 0 0;
        h2{
            font-weight: 900;
            font-size:  calcFluid(17, 30, 320, 1920);
            margin:auto 0;
        }
        .prev,
        .next{
            background:#5134c4;
            color: #ffffff;
            border: none;
            font-weight: 900;
            padding: 0px 7px 7px 7px;
            font-size:  calcFluid(20, 30, 320, 1920);
            margin: auto 0 auto 20px;
        }
        .prev{
            margin: auto 0 auto auto;
            background: #cacaca;
        }
    }
    .slider{
        @extend %slider;
        padding: 20px 0;
        margin:0  calcFluid(0, 162, 850, 1920);
    }
    .card{
        margin: 0 calcFluid(10, 40, 320, 1920) 0 0;
    }
    .more{
        @extend %more;
        margin:20px auto;
    }
}
@media(max-width: 1024px){
    .fd-row{
        .card {display: none};
        .slider{
            width: 100%;
            .slide{
                .slide__contant{
                    width: 250px;
                }
                .slide__radius{
                    width:calcFluid(200, 500, 320, 1024);
                    height: calcFluid(100, 200, 320, 1024);
                    margin: calcFluid(0, 40, 320, 1024) 0 0 calcFluid(-20, 50, 400, 1024);
                    img{margin: calcFluid(0, -50, 400, 1024) 25px;}
                }
            }
        }
    }
    .advantages-row{
        padding: 0 calcFluid(8, 91, 320, 1024);
    }
}

@media(max-width: 850px){
    .advantages-row{
        display: flex;
        flex-direction: column;
    }
    .advantages{
        display: flex;
        flex-direction: row;
        &:not(:first-child){
            margin: 15px 0 0 0 ;
        }
        &__content{
            margin: auto 0 auto calcFluid(13, 20, 320, 800);
            h2{
                margin:0 0 7px 0 ;
            }
        }
    }
    .choose{
        margin: 0;
        .choose__more{
            display: none;
        }
        img{
            width: 90%;
        }
    }
    .content{
        margin: 0;
        .choose__more{
            -webkit-appearance: none;
            display: block;
            margin: auto 30px auto 0;
        }
        h3{margin: 40px 0 0 0;}
        p{display: none;}
        .fd-row{.content__text{display: block;}}
        
    }
    .card {
        .card__sale {
            .fd-col{
                display: flex;
                flex-direction: row-reverse;
                margin: 10px 0 0 0;
                .card__price{
                    margin: 0 10px 0 0;
                }
                .discount{
                    margin: auto 0;
                }
            }
        }
    }
    .furniture {
        margin-top: 40px;
        .slider{
            .card{
                .card__img{
                    max-width: 90%;
                }
            }
            .furniture__slider{
                width: 300%;
            }
        }

    }
    .katalog{ 
        .slider{
            margin: 0 calcFluid(0, 30, 320, 850);
            .katalog__slider{
                width: 300%;
            }
        }
    }
}

@media(max-width: 630px){
    .fd-row{.slider{.slides{
        .slide{
            display: flex;
            flex-direction: column-reverse;
            &__radius{
                margin: 20px 40px 0 40px;
                width:calcFluid(200, 500, 320, 630);
                height: calcFluid(100, 200, 320, 630);
                img{  margin: calcFluid(-20, -80, 400, 1024) 20px;}
            }
            &__contant{
                display: flex;
                flex-direction: row;
                width: 100%;
                .slide__button{
                    margin-left: calcFluid(10, 120, 400, 1024);
                }
                .slide__text{
                    margin-bottom: 20px;
                }
                margin: 30px  0 0;
                h2{
                    margin: 0;
                }
            }
        }
    }}}
    .content{.fd-row{margin-top: 10px;}width: 50%;}
    .choose{
        overflow: hidden;
        position: relative;
        width: 50%;
        img{
            left: calcFluid(10, 30, 320, 630);
            top: calcFluid(10, -30, 320, 630);
            position: absolute;
            width: 100%;
        }
    }

    .furniture{
        padding: 10px calcFluid(8, 45, 320, 630) ;
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column-reverse;
        .content{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            p{display: none;}
            h2{
                width: 100%;
                margin: auto 0 auto 0;
                text-align: center;
            }
        }
        .card{
            .card__img{
                top: calcFluid(30, 0, 320, 630);
                left: calcFluid(10, 30, 320, 630);
                max-width: 75%;
            }
        }
        .slider{
            width: 98%;
        }
    }
    .katalog{
        .slider{
            margin: 0;
            .katalog__slider{
                width: 300%;
            }
        }
    }
}

@media(max-width: 440px){
    .katalog{
        .slider{
            .card {
                width: 400px;
            }
            .katalog__slider{
                width: 600%;
            }
        }
    }
    .fd-row{.slider{ padding: 20px 0 20px 20px;.slides{.slide{.slide__contant{.slide__button{display: none;}}}}}}
    .choose img{width: 140%;}
}