@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Inter/Inter-Light.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Regular";
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Bold";
  font-weight: 900;
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular", sans-serif;
}

main {
  padding: 0 calc( 0.1116071429 * 100vw + -114.2857142857px );
}

.katalog .katalog-row, .furniture, .content .fd-row, .advantages-row, .fd-row .slider .slides .slide__button, .fd-row .slider .slides .slide, .fd-row, .card .card__sale, .card .fd-row, .katalog .slider .katalog__slider, .furniture .slider .katalog__slider,
.katalog .slider .furniture__slider,
.furniture .slider .furniture__slider, .katalog .slider, .furniture .slider {
  display: flex;
  flex-direction: row;
}

.katalog, .content, .choose, .advantages__content, .advantages, .fd-row .slider .slides .slide__text, .fd-row .slider .slides .slide__contant, .card, main {
  display: flex;
  flex-direction: column;
}

.katalog .more, .content .choose__more, .choose .choose__more, .fd-row .slider .slides .slide__button .more {
  padding: 10px calc( 0.0208333333 * 100vw + 3.3333333333px );
  color: white;
  font-size: calc( 0.003125 * 100vw + 14px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  text-decoration: none;
  margin: 20px 0 auto auto;
  border: none;
  font-weight: 100;
  transition: 0.3s;
}
.katalog .more:hover, .content .choose__more:hover, .choose .choose__more:hover, .fd-row .slider .slides .slide__button .more:hover {
  transform: scale(1.02);
}

.katalog .slider, .furniture .slider {
  overflow: hidden;
}
.katalog .slider .katalog__slider, .furniture .slider .katalog__slider,
.katalog .slider .furniture__slider,
.furniture .slider .furniture__slider {
  position: relative;
  width: 200%;
  left: 0;
  transition: all ease 0.7s;
}

.content .fd-row .prev__active,
.content .fd-row .next__active {
  border: 1.5px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.card {
  position: relative;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 280px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.card .rent {
  font-size: calc( 0.003125 * 100vw + 14px );
  color: #58585e;
  margin: 10px 0 10px 0;
}
.card .info {
  font-size: calc( 0.003125 * 100vw + 14px );
  font-weight: 900;
  margin: 0;
}
.card .card__bag {
  cursor: pointer;
  margin: auto 0 0 auto;
  padding: calc( 0.0024590164 * 100vw + 0.2786885246px ) calc( 0.0040983607 * 100vw + 12.131147541px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border: none;
}
.card .card__img {
  width: 100%;
  margin: auto 0 0 0;
}
.card .fd-row .card__arrow {
  margin: auto 0 auto auto;
  font-size: 24px;
  font-weight: 900;
}
.card .fd-row .star {
  font-size: calc( 0.0049180328 * 100vw + 10.5573770492px );
  font-weight: 900;
  margin: auto 0;
}
.card .card__sale {
  margin: auto 0 0 0;
}
.card .card__sale .fd-col .discount {
  text-decoration: line-through;
  color: #58585e;
  font-size: calc( 0.003125 * 100vw + 14px );
  margin: calc( 0.0093457944 * 100vw + -7.9439252336px ) 0 0 0;
}
.card .card__sale .fd-col .card__price {
  font-size: calc( 0.001875 * 100vw + 16.4px );
  font-weight: 900;
  margin: 0;
}

main .line {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #ECECEC;
}

.main_fixed {
  margin-top: 90px;
}

.fd-row .slider {
  margin: 0 auto 0 0;
  padding: 20px 0 20px calc( 0.125 * 100vw + -40px );
  width: calc( 0.4375 * 100vw + 60px );
  background-color: #0d0337;
  overflow: hidden;
  position: relative;
}
.fd-row .slider .slides {
  width: 400%;
  display: flex;
}
.fd-row .slider .slides input[name=r] {
  position: absolute;
  visibility: hidden;
}
.fd-row .slider .slides .slide {
  width: 100%;
  transition: all 0.6s ease;
}
.fd-row .slider .slides .slide__contant {
  width: 230px;
  margin: auto 0;
}
.fd-row .slider .slides .slide__text {
  color: white;
}
.fd-row .slider .slides .slide__text h2 {
  font-weight: 900;
  font-size: calc( 0.0075 * 100vw + 17.6px );
  margin: 10px 0;
}
.fd-row .slider .slides .slide__text p {
  font-size: calc( 0.003125 * 100vw + 14px );
  margin: 10px 0;
}
.fd-row .slider .slides .slide__button {
  margin: 10px 0 30px 0;
}
.fd-row .slider .slides .slide__button .more {
  margin: auto 0;
}
.fd-row .slider .slides .slide__button a:nth-child(2) {
  margin: auto 10px;
  padding: 10px;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
}
.fd-row .slider .slides .slide__button a:nth-child(2) .block {
  border: 10px solid transparent;
  border-left: 20px solid;
  margin: auto 0 auto 10px;
}
.fd-row .slider .slides .slide__radius {
  margin: 20px 0 20px calc( 0.078125 * 100vw + -100px );
  width: calc( 0.25 * 100vw + 20px );
  height: calc( 0.13875 * 100vw + 5.6px );
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.25);
  background-color: white;
}
.fd-row .slider .slides .slide__radius img {
  width: 90%;
  margin: 0 calc( 0.0167410714 * 100vw + 2.8571428571px );
}
.fd-row .slider .slides .navigation-auto {
  display: flex;
  position: absolute;
  bottom: 10px;
}
.fd-row .slider .slides .navigation-auto div {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 10px;
}
.fd-row .slider .slides .navigation-auto div:first-child {
  margin-left: 0;
}
.fd-row .slider .slides #r1:checked ~ .navigation-auto .auto-btn1,
.fd-row .slider .slides #r2:checked ~ .navigation-auto .auto-btn2,
.fd-row .slider .slides #r3:checked ~ .navigation-auto .auto-btn3,
.fd-row .slider .slides #r4:checked ~ .navigation-auto .auto-btn4 {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
}
.fd-row .slider .navigation {
  display: flex;
  position: absolute;
  bottom: 10px;
}
.fd-row .slider .navigation__bar {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 10px;
}
.fd-row .slider .navigation__bar:first-child {
  margin-left: 0;
}
.fd-row .slider #r1:checked ~ .s1 {
  margin-left: 0;
}
.fd-row .slider #r2:checked ~ .s1 {
  margin-left: -33.5%;
}
.fd-row .slider #r3:checked ~ .s1 {
  margin-left: -100%;
}
.fd-row .slider #r4:checked ~ .s1 {
  margin-left: -300%;
}
.fd-row .card {
  margin: 0 calc( 0.12 * 100vw + -30.4px ) 0 0;
}

.advantages-row {
  padding: 0 calc( 0.1825 * 100vw + -50.4px );
}

.advantages {
  margin: 20px 0 0 0;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 10px;
}
.advantages__content h2 {
  font-weight: 900;
  font-size: calc( 0.0025 * 100vw + 15.2px );
  margin: calc( 0.0125 * 100vw + 6px ) 0 10px 0;
}
.advantages__content p {
  font-size: calc( 0.001875 * 100vw + 12.4px );
  margin: 0;
}
.advantages img {
  max-width: 27%;
}
.advantages:not(:first-child) {
  margin-left: calc( 0.0055803571 * 100vw + 9.2857142857px );
}

.choose {
  padding-right: calc( 0.12 * 100vw + -30.4px );
  width: 60%;
  margin: 0 0 100px 0;
}
.choose select:focus,
.choose select:hover,
.choose option:hover,
.choose option:focus {
  border: none;
  outline: none;
  border: transparent;
}
.choose .choose__more {
  z-index: 5;
}
.choose .choose__more option {
  color: black;
}
.choose img {
  margin: 50px 0 0 calc( 0.12 * 100vw + -30.4px );
  width: 75%;
}

.content {
  width: 40%;
  margin: auto 0;
  padding-left: calc( 0.12 * 100vw + -30.4px );
}
.content select:focus,
.content select:hover,
.content option:hover,
.content option:focus {
  border: none;
  outline: none;
  border: transparent;
}
.content .choose__more {
  display: none;
}
.content .choose__more option {
  color: black;
}
.content h3 {
  color: #58585e;
  font-weight: 900;
  font-size: calc( 0.004375 * 100vw + 16.6px );
  margin: 0;
}
.content h2 {
  font-weight: 900;
  font-size: calc( 0.010625 * 100vw + 9.6px );
}
.content p {
  font-size: calc( 0.0065420561 * 100vw + 7.4392523364px );
  margin: 0 0 20px 0;
}
.content .fd-row a {
  text-decoration: none;
}
.content .fd-row a .content__text {
  font-size: calc( 0.005 * 100vw + 10.4px );
  font-weight: 900;
  margin: 10px 0;
  color: black;
}
.content .fd-row .content__Youtube {
  margin: auto 10px auto 0;
  padding: 10px;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
}
.content .fd-row .content__Youtube .block1 {
  border: calc( 0.0041666667 * 100vw + 3.6666666667px ) solid transparent;
  border-left: calc( 0.0041666667 * 100vw + 9.6666666667px ) solid;
  margin: auto 0 auto calc( 0.00625 * 100vw + 3px );
}
.content .fd-row .prev,
.content .fd-row .next {
  color: gray;
  padding: 0px 5px 5px 5px;
  font-size: calc( 0.0055803571 * 100vw + 19.2857142857px );
  margin: 20px 0 0 10px;
}
.content .fd-row .prev {
  margin: 20px 0 0 0;
}

.furniture {
  padding: calc( 0.0075 * 100vw + 5.6px ) 40px calc( 0.0075 * 100vw + 5.6px ) calc( 0.12 * 100vw + -30.4px );
  background-color: #F2F2F2;
  margin-right: calc( 0.12 * 100vw + -30.4px );
}
.furniture .content {
  margin: auto 0;
  padding: 0;
  width: 35%;
}
.furniture .content p {
  display: block;
}
.furniture .card {
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.25);
}
.furniture .card .card__img {
  width: 60%;
  margin: auto auto 0 auto;
}
.furniture .card .card__bag {
  position: absolute;
  bottom: -20px;
  right: 10px;
  border-radius: 50%;
  padding: 5px 10px;
  background: none;
  border: 2px solid #5134c4;
  font-size: 20px;
}
.furniture .slider {
  padding: 20px 0 20px 0;
  width: 65%;
}

.katalog {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.katalog .katalog-row {
  margin: 20px 0 0 0;
}
.katalog .katalog-row h2 {
  font-weight: 900;
  font-size: calc( 0.008125 * 100vw + 14.4px );
  margin: auto 0;
}
.katalog .katalog-row .prev,
.katalog .katalog-row .next {
  background: #5134c4;
  color: #ffffff;
  border: none;
  font-weight: 900;
  padding: 0px 7px 7px 7px;
  font-size: calc( 0.00625 * 100vw + 18px );
  margin: auto 0 auto 20px;
}
.katalog .katalog-row .prev {
  margin: auto 0 auto auto;
  background: #cacaca;
}
.katalog .slider {
  padding: 20px 0;
  margin: 0 calc( 0.1514018692 * 100vw + -128.691588785px );
}
.katalog .card {
  margin: 0 calc( 0.01875 * 100vw + 4px ) 0 0;
}
.katalog .more {
  margin: 20px auto;
}

@media (max-width: 1024px) {
  .fd-row .card {
    display: none;
  }
  .fd-row .slider {
    width: 100%;
  }
  .fd-row .slider .slide .slide__contant {
    width: 250px;
  }
  .fd-row .slider .slide .slide__radius {
    width: calc( 0.4261363636 * 100vw + 63.6363636364px );
    height: calc( 0.1420454545 * 100vw + 54.5454545455px );
    margin: calc( 0.0568181818 * 100vw + -18.1818181818px ) 0 0 calc( 0.1121794872 * 100vw + -64.8717948718px );
  }
  .fd-row .slider .slide .slide__radius img {
    margin: calc( -0.0801282051 * 100vw + 32.0512820513px ) 25px;
  }

  .advantages-row {
    padding: 0 calc( 0.1178977273 * 100vw + -29.7272727273px );
  }
}
@media (max-width: 850px) {
  .advantages-row {
    display: flex;
    flex-direction: column;
  }

  .advantages {
    display: flex;
    flex-direction: row;
  }
  .advantages:not(:first-child) {
    margin: 15px 0 0 0;
  }
  .advantages__content {
    margin: auto 0 auto calc( 0.0145833333 * 100vw + 8.3333333333px );
  }
  .advantages__content h2 {
    margin: 0 0 7px 0;
  }

  .choose {
    margin: 0;
  }
  .choose .choose__more {
    display: none;
  }
  .choose img {
    width: 90%;
  }

  .content {
    margin: 0;
  }
  .content .choose__more {
    -webkit-appearance: none;
    display: block;
    margin: auto 30px auto 0;
  }
  .content h3 {
    margin: 40px 0 0 0;
  }
  .content p {
    display: none;
  }
  .content .fd-row .content__text {
    display: block;
  }

  .card .card__sale .fd-col {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0 0 0;
  }
  .card .card__sale .fd-col .card__price {
    margin: 0 10px 0 0;
  }
  .card .card__sale .fd-col .discount {
    margin: auto 0;
  }

  .furniture {
    margin-top: 40px;
  }
  .furniture .slider .card .card__img {
    max-width: 90%;
  }
  .furniture .slider .furniture__slider {
    width: 300%;
  }

  .katalog .slider {
    margin: 0 calc( 0.0566037736 * 100vw + -18.1132075472px );
  }
  .katalog .slider .katalog__slider {
    width: 300%;
  }
}
@media (max-width: 630px) {
  .fd-row .slider .slides .slide {
    display: flex;
    flex-direction: column-reverse;
  }
  .fd-row .slider .slides .slide__radius {
    margin: 20px 40px 0 40px;
    width: calc( 0.9677419355 * 100vw + -109.6774193548px );
    height: calc( 0.3225806452 * 100vw + -3.2258064516px );
  }
  .fd-row .slider .slides .slide__radius img {
    margin: calc( -0.0961538462 * 100vw + 18.4615384615px ) 20px;
  }
  .fd-row .slider .slides .slide__contant {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 30px 0 0;
  }
  .fd-row .slider .slides .slide__contant .slide__button {
    margin-left: calc( 0.1762820513 * 100vw + -60.5128205128px );
  }
  .fd-row .slider .slides .slide__contant .slide__text {
    margin-bottom: 20px;
  }
  .fd-row .slider .slides .slide__contant h2 {
    margin: 0;
  }

  .content {
    width: 50%;
  }
  .content .fd-row {
    margin-top: 10px;
  }

  .choose {
    overflow: hidden;
    position: relative;
    width: 50%;
  }
  .choose img {
    left: calc( 0.064516129 * 100vw + -10.6451612903px );
    top: calc( -0.1290322581 * 100vw + 51.2903225806px );
    position: absolute;
    width: 100%;
  }

  .furniture {
    padding: 10px calc( 0.1193548387 * 100vw + -30.1935483871px );
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .furniture .content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .furniture .content p {
    display: none;
  }
  .furniture .content h2 {
    width: 100%;
    margin: auto 0 auto 0;
    text-align: center;
  }
  .furniture .card .card__img {
    top: calc( -0.0967741935 * 100vw + 60.9677419355px );
    left: calc( 0.064516129 * 100vw + -10.6451612903px );
    max-width: 75%;
  }
  .furniture .slider {
    width: 98%;
  }

  .katalog .slider {
    margin: 0;
  }
  .katalog .slider .katalog__slider {
    width: 300%;
  }
}
@media (max-width: 440px) {
  .katalog .slider .card {
    width: 400px;
  }
  .katalog .slider .katalog__slider {
    width: 600%;
  }

  .fd-row .slider {
    padding: 20px 0 20px 20px;
  }
  .fd-row .slider .slides .slide .slide__contant .slide__button {
    display: none;
  }

  .choose img {
    width: 140%;
  }
}/*# sourceMappingURL=main.css.map */