@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Inter/Inter-Light.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Regular";
  font-weight: 500;
  src: url("../../fonts/Inter/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Bold";
  font-weight: 900;
  src: url("../../fonts/Inter/Inter-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "fouore";
  src: url("../../fonts/fouore/Furore.otf");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular";
}

main {
  padding: 0 calc( 0.1116071429 * 100vw + -114.2857142857px );
}

.services__wrapper .services .services__contant .services__contantPrice, .services__wrapper .services__item, .services__wrapper .services {
  display: flex;
  flex-direction: row;
}

.services__wrapper .services .services__contant, .services__wrapper, main {
  display: flex;
  flex-direction: column;
}

.services__wrapper .services .services__contant .services__contantPrice .more {
  padding: 10px calc( 0.0208333333 * 100vw + 3.3333333333px );
  color: white;
  font-size: calc( 0.003125 * 100vw + 14px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  text-decoration: none;
  margin: 20px 0 auto auto;
  border: none;
  font-weight: 100;
  transition: 0.3s;
}
.services__wrapper .services .services__contant .services__contantPrice .more:hover {
  transform: scale(1.02);
}

.main_fixed {
  margin-top: 90px;
}

.services__wrapper {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.services__wrapper span a {
  text-decoration: none;
  color: black;
  font-size: calc( 0.005 * 100vw + 10.4px );
}
.services__wrapper h1 {
  font-size: calc( 0.009375 * 100vw + 17px );
}
.services__wrapper .services {
  flex-wrap: wrap;
}
.services__wrapper .services__item {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  width: calc( 0.258125 * 100vw + 124.4px );
  padding: 10px;
  margin: 5px;
}
.services__wrapper .services__item .services__img {
  width: 45%;
  margin: auto 0 0 0;
}
.services__wrapper .services__item .services__img img {
  width: 100%;
}
.services__wrapper .services .services__contant {
  margin-left: 15px;
  width: 60%;
}
.services__wrapper .services .services__contant .star {
  margin-left: auto;
  font-size: calc( 0.0049180328 * 100vw + 10.5573770492px );
  font-weight: 900;
}
.services__wrapper .services .services__contant p {
  font-size: calc( 0.0025 * 100vw + 15.2px );
  font-weight: 900;
}
.services__wrapper .services .services__contant .services__contantPrice {
  margin: auto 0 0 0;
}
.services__wrapper .services .services__contant .services__contantPrice .more {
  margin: auto auto auto 0;
}
.services__wrapper .services .services__contant .services__contantPrice p {
  margin: 10px auto auto 0;
}

@media (max-width: 1250px) {
  .services__wrapper .services .services__item {
    display: flex;
    flex-direction: column;
  }
  .services__wrapper .services .services__item .services__contant {
    width: 100%;
  }
  .services__wrapper .services .services__item .services__img {
    width: 100%;
    margin: 0;
  }
  .services__wrapper .services .services__item .services__img img {
    width: 60%;
    margin: 0 70px;
  }
  .services__wrapper .services .services__item .star {
    display: none;
  }
}
@media (max-width: 1024px) {
  .services__wrapper .services {
    display: flex;
    flex-direction: column;
  }
  .services__wrapper .services .services__item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .services__wrapper .services .services__item .services__img {
    width: 50%;
    margin: auto 0 0 0;
  }
  .services__wrapper .services .services__item .services__img img {
    width: 100%;
    margin: 0;
  }
  .services__wrapper .services .services__contant .services__contantPrice {
    display: flex;
    flex-direction: row;
  }
  .services__wrapper .services .services__contant .services__contantPrice p {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 475px) {
  .services__wrapper .services .services__item {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .services__wrapper .services .services__item .services__contant {
    width: 90%;
  }
  .services__wrapper .services .services__item .services__img {
    width: 100%;
    margin: 0;
  }
  .services__wrapper .services .services__item .services__img img {
    width: 60%;
    margin: 0 70px;
  }
}/*# sourceMappingURL=services.css.map */