@import "../general.scss";
main{
    @extend %main;
}
.main_fixed{
    margin-top: 90px
}

.transportation_wrapper{
    .line{
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid #ECECEC;
    }
    padding: 0 calcFluid(8, 200, 320, 1920);
    @extend %d-col;
    span a{
        text-decoration: none;
        color: black;
        font-size: calcFluid(12, 20, 320, 1920);
    }
    .transportation{
        @extend %d-row;
        margin-top: 50px;
        &__block{
            @extend %d-row;
            width: 60%;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
            padding: 20px;
            .slider-wrapper{
                width: 25%;
                @extend %d-col;
                .slider{
                    @extend %slider;
                    @extend %d-col;
                    height: calcFluid(272, 402, 1024, 1920);
                    .slider-line{
                        @extend %d-col; 
                        width: 100%;
                        height: 300%;
                        .slider__img{
                            width: 92%;
                            height: calcFluid(73, 116, 1024, 1920);
                            margin: 5px 0;
                            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
                            border: 3px solid white;
                        }
                        .active{
                            border: 3px solid;
                            border-image-source:$gradient;
                            border-image-slice:1;
                        }
                    }
                }
                .prev,
                .next{
                  transform: rotate(90deg);
                  margin: auto;
                  font-size: calcFluid(20, 30, 320, 1920);
                  color: gray;
                  font-weight: 900;
                }
                .active{
                    background:$gradient;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #5134c4;
                }
            }
            .transportation__img{
                width: 80%;
                @extend %d-col; 
                .star{
                    margin: 0 0 0 auto;
                    font-weight: 900;
                    font-size: calcFluid(17, 23, 320, 1920);
                }
                img{
                    margin: auto;
                    width: 90%;
                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                }
            }
        }
        &__contant{
            @extend %d-col; 
            margin: 0 0 0  calcFluid(20, 40, 320, 1920);
            width: 40%;
            h1{
                margin: 0 0 20px 0;
                font-size: calcFluid(25, 32, 320, 1920);
            }
            p{
                font-size: calcFluid(15, 18, 320, 1920);
                color: #58585e;
                font-weight: 900;
                margin: 7px 0;
                span{
                    color: black;
                }
            }
            .transportation__all{
                background:$gradient;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .transportation__row{
                @extend %d-row;
                margin: auto 0 0 0;
                p:nth-child(1){
                    font-size:calcFluid(20, 30, 320, 1920) ;
                    color: black;
                    margin: auto 0 10px 0;
                }
                p:nth-child(2){
                    font-size:calcFluid(17, 25, 320, 1920);
                    color: #58585e;
                    margin: auto 0 10px 10px;
                    text-decoration-line: line-through;
                }
            }
            .quantity_inner{
                box-sizing: border-box;    
                display: inline-flex;
                border: 2px solid gray;
                padding: 0px 16px;
                margin: 0 auto 0 0;
                .bt_minus,
                .bt_plus,
                .quantity {
                    padding: 0;
                    border: 0;
                    margin: 0;
                    background: transparent;
                    cursor: pointer;
                    outline: 0;
                    p {
                        font-weight: 500;
                        font-size: 35px;
                        margin: 0;
                    }  
               }
               .bt_plus p{
                    background:$gradient;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
               }
               .bt_minus p{
                margin: -5px 0 0 0;
               }
               .quantity {
                width: 50px;
                text-align: center;
                font-size: calcFluid(17, 30, 320, 1920);
                font-weight: bold;
                color: #000;
                }
            }    
            .more{
                @extend %more;
                margin: 10px auto 0 0;
            }     
        }
    }
    .transportation__info{
        h2{ font-size: calcFluid(20, 25, 320, 1920); margin: 18px 0 10px 0;}
        h3{ font-size: calcFluid(15, 20, 320, 1920); margin: 0;}
        width: 60%;
        p{
            font-size:calcFluid(12, 18, 320, 1920) ;
        }
    }
    .advantages-row{
        padding:0 calcFluid(8, 200, 320, 1920);
        @extend %d-row;
        .advantages{
            width: 33%;
            margin: 20px 0 0 0;
            box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
            @extend %d-col;
            padding: 10px;
            &__content{
                @extend %d-col;
                h2{
                    font-weight: 900;
                    font-size: calcFluid(16, 20, 320, 1920);
                    margin:calcFluid(10, 30, 320, 1920) 0 10px 0;
                }
                p{
                    font-size: calcFluid(13, 16, 320, 1920);
                    margin: 0;
            
                }
            }
            img{
                width: 31%;
            }
            &:not(:first-child){
                margin-left: calcFluid(15, 20, 1024, 1920);
            }
        }
    }
}
@media(max-width: 1024px){
    .transportation_wrapper {
        .transportation{
            display: flex;
            flex-direction: column;
            .transportation__block{
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                padding: 0px;
                .star{
                    margin: 10px 10px 0 auto;
                }
                .slider-wrapper{
                    margin: 20px 0 ;
                    justify-content: center;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .prev, .next{
                        margin:auto 10px;
                        transform: rotate(0);
                    }
                    .slider{
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        width:calcFluid(270, 405, 500, 1024) ;
                        .slider-line{
                            display: flex;
                            flex-direction: row;
                            width: 200%;
                            height: 100%;
                        }
                    }
                }
                .transportation__img{
                    width: 100%;
                    .main__img{
                        margin:20px auto 0 auto;
                    }
                }
            }
            .transportation__contant{
                width: 100%;
                margin: 20px 0 0 0;
    
            }
    
        }
        .transportation__info{
            width: 100%;
        }
    }
}

