@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Inter/Inter-Light.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Regular";
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Bold";
  font-weight: 900;
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular", sans-serif;
}

main {
  padding: 0 calc( 0.1116071429 * 100vw + -114.2857142857px );
}

.transportation_wrapper .advantages-row, .transportation_wrapper .transportation__contant .transportation__row, .transportation_wrapper .transportation__block, .transportation_wrapper .transportation, .transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line, .transportation_wrapper .transportation__block .slider-wrapper .slider {
  display: flex;
  flex-direction: row;
}

.transportation_wrapper .advantages-row .advantages__content, .transportation_wrapper .advantages-row .advantages, .transportation_wrapper .transportation__contant, .transportation_wrapper .transportation__block .transportation__img, .transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line, .transportation_wrapper .transportation__block .slider-wrapper .slider, .transportation_wrapper .transportation__block .slider-wrapper, .transportation_wrapper, main {
  display: flex;
  flex-direction: column;
}

.transportation_wrapper .transportation__contant .more {
  padding: 10px calc( 0.0208333333 * 100vw + 3.3333333333px );
  color: white;
  font-size: calc( 0.003125 * 100vw + 14px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  text-decoration: none;
  margin: 20px 0 auto auto;
  border: none;
  font-weight: 100;
  transition: 0.3s;
}
.transportation_wrapper .transportation__contant .more:hover {
  transform: scale(1.02);
}

.transportation_wrapper .transportation__block .slider-wrapper .slider {
  overflow: hidden;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line {
  position: relative;
  width: 200%;
  left: 0;
  transition: all ease 0.7s;
}

.main_fixed {
  margin-top: 90px;
}

.transportation_wrapper {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.transportation_wrapper .line {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #ECECEC;
}
.transportation_wrapper span a {
  text-decoration: none;
  color: black;
  font-size: calc( 0.005 * 100vw + 10.4px );
}
.transportation_wrapper .transportation {
  margin-top: 50px;
}
.transportation_wrapper .transportation__block {
  width: 60%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.transportation_wrapper .transportation__block .slider-wrapper {
  width: 25%;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider {
  height: calc( 0.1450892857 * 100vw + 123.4285714286px );
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line {
  width: 100%;
  height: 300%;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line .slider__img {
  width: 92%;
  height: calc( 0.0479910714 * 100vw + 23.8571428571px );
  margin: 5px 0;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border: 3px solid white;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line .active {
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
}
.transportation_wrapper .transportation__block .slider-wrapper .prev,
.transportation_wrapper .transportation__block .slider-wrapper .next {
  transform: rotate(90deg);
  margin: auto;
  font-size: calc( 0.00625 * 100vw + 18px );
  color: gray;
  font-weight: 900;
}
.transportation_wrapper .transportation__block .slider-wrapper .active {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5134c4;
}
.transportation_wrapper .transportation__block .transportation__img {
  width: 80%;
}
.transportation_wrapper .transportation__block .transportation__img .star {
  margin: 0 0 0 auto;
  font-weight: 900;
  font-size: calc( 0.00375 * 100vw + 15.8px );
}
.transportation_wrapper .transportation__block .transportation__img img {
  margin: auto;
  width: 90%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.transportation_wrapper .transportation__contant {
  margin: 0 0 0 calc( 0.0125 * 100vw + 16px );
  width: 40%;
}
.transportation_wrapper .transportation__contant h1 {
  margin: 0 0 20px 0;
  font-size: calc( 0.004375 * 100vw + 23.6px );
}
.transportation_wrapper .transportation__contant p {
  font-size: calc( 0.001875 * 100vw + 14.4px );
  color: #58585e;
  font-weight: 900;
  margin: 7px 0;
}
.transportation_wrapper .transportation__contant p span {
  color: black;
}
.transportation_wrapper .transportation__contant .transportation__all {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transportation_wrapper .transportation__contant .transportation__row {
  margin: auto 0 0 0;
}
.transportation_wrapper .transportation__contant .transportation__row p:nth-child(1) {
  font-size: calc( 0.00625 * 100vw + 18px );
  color: black;
  margin: auto 0 10px 0;
}
.transportation_wrapper .transportation__contant .transportation__row p:nth-child(2) {
  font-size: calc( 0.005 * 100vw + 15.4px );
  color: #58585e;
  margin: auto 0 10px 10px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.transportation_wrapper .transportation__contant .quantity_inner {
  box-sizing: border-box;
  display: inline-flex;
  border: 2px solid gray;
  padding: 0px 16px;
  margin: 0 auto 0 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_minus,
.transportation_wrapper .transportation__contant .quantity_inner .bt_plus,
.transportation_wrapper .transportation__contant .quantity_inner .quantity {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_minus p,
.transportation_wrapper .transportation__contant .quantity_inner .bt_plus p,
.transportation_wrapper .transportation__contant .quantity_inner .quantity p {
  font-weight: 500;
  font-size: 35px;
  margin: 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_plus p {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_minus p {
  margin: -5px 0 0 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .quantity {
  width: 50px;
  text-align: center;
  font-size: calc( 0.008125 * 100vw + 14.4px );
  font-weight: bold;
  color: #000;
}
.transportation_wrapper .transportation__contant .more {
  margin: 10px auto 0 0;
}
.transportation_wrapper .transportation__info {
  width: 60%;
}
.transportation_wrapper .transportation__info h2 {
  font-size: calc( 0.003125 * 100vw + 19px );
  margin: 18px 0 10px 0;
}
.transportation_wrapper .transportation__info h3 {
  font-size: calc( 0.003125 * 100vw + 14px );
  margin: 0;
}
.transportation_wrapper .transportation__info p {
  font-size: calc( 0.00375 * 100vw + 10.8px );
}
.transportation_wrapper .advantages-row {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.transportation_wrapper .advantages-row .advantages {
  width: 33%;
  margin: 20px 0 0 0;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.transportation_wrapper .advantages-row .advantages__content h2 {
  font-weight: 900;
  font-size: calc( 0.0025 * 100vw + 15.2px );
  margin: calc( 0.0125 * 100vw + 6px ) 0 10px 0;
}
.transportation_wrapper .advantages-row .advantages__content p {
  font-size: calc( 0.001875 * 100vw + 12.4px );
  margin: 0;
}
.transportation_wrapper .advantages-row .advantages img {
  width: 31%;
}
.transportation_wrapper .advantages-row .advantages:not(:first-child) {
  margin-left: calc( 0.0055803571 * 100vw + 9.2857142857px );
}

@media (max-width: 1024px) {
  .transportation_wrapper .transportation {
    display: flex;
    flex-direction: column;
  }
  .transportation_wrapper .transportation .transportation__block {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
  }
  .transportation_wrapper .transportation .transportation__block .star {
    margin: 10px 10px 0 auto;
  }
  .transportation_wrapper .transportation .transportation__block .slider-wrapper {
    margin: 20px 0;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .transportation_wrapper .transportation .transportation__block .slider-wrapper .prev, .transportation_wrapper .transportation .transportation__block .slider-wrapper .next {
    margin: auto 10px;
    transform: rotate(0);
  }
  .transportation_wrapper .transportation .transportation__block .slider-wrapper .slider {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc( 0.2576335878 * 100vw + 141.1832061069px );
  }
  .transportation_wrapper .transportation .transportation__block .slider-wrapper .slider .slider-line {
    display: flex;
    flex-direction: row;
    width: 200%;
    height: 100%;
  }
  .transportation_wrapper .transportation .transportation__block .transportation__img {
    width: 100%;
  }
  .transportation_wrapper .transportation .transportation__block .transportation__img .main__img {
    margin: 20px auto 0 auto;
  }
  .transportation_wrapper .transportation .transportation__contant {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .transportation_wrapper .transportation__info {
    width: 100%;
  }
}/*# sourceMappingURL=transportation.css.map */