@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Inter/Inter-Light.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Regular";
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Bold";
  font-weight: 900;
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "fouore";
  src: url("../fonts/fouore/Furore.otf");
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular", sans-serif;
}

main {
  padding: 0 calc( 0.1116071429 * 100vw + -114.2857142857px );
}

.bag__wrapper .bag .bag__price .delivery,
.bag__wrapper .bag .bag__price .self-call, .bag__wrapper .bag .bag__price .input__discount, .bag__wrapper .bag .bag__price .input__price, .bag__wrapper .bag__items .bag__block .block__content .block__input, .bag__wrapper .bag__items .bag__block, .bag__wrapper .bag {
  display: flex;
  flex-direction: row;
}

.bag__wrapper .bag .bag__price, .bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .fd-col, .bag__wrapper .bag__items .bag__block .block__content, .bag__wrapper .bag__items, .bag__wrapper, main {
  display: flex;
  flex-direction: column;
}

.bag__wrapper .bag .bag__price #order {
  padding: 10px calc( 0.0208333333 * 100vw + 3.3333333333px );
  color: white;
  font-size: calc( 0.003125 * 100vw + 14px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  text-decoration: none;
  margin: 20px 0 auto auto;
  border: none;
  font-weight: 100;
  transition: 0.3s;
}
.bag__wrapper .bag .bag__price #order:hover {
  transform: scale(1.02);
}

.main_fixed {
  margin-top: 90px;
}

.bag__wrapper {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.bag__wrapper span a {
  text-decoration: none;
  color: black;
  font-size: calc( 0.005 * 100vw + 10.4px );
}
.bag__wrapper h1 {
  font-size: calc( 0.009375 * 100vw + 17px );
}
.bag__wrapper .bag {
  margin: 0 0 20px 0;
}
.bag__wrapper .bag .bag__items::-webkit-scrollbar {
  display: none;
}
.bag__wrapper .bag__items {
  overflow: scroll;
  height: calc( 0.185625 * 100vw + 190.6px );
  width: 70%;
  margin: 0 calc( 0.1205357143 * 100vw + -111.4285714286px ) 0 0;
}
.bag__wrapper .bag__items .bag__clear {
  margin: calc( 0.0675 * 100vw + -9.6px ) auto auto auto;
}
.bag__wrapper .bag__items .bag__clear h2, .bag__wrapper .bag__items .bag__clear p {
  text-align: center;
}
.bag__wrapper .bag__items .bag__clear h2 {
  font-size: calc( 0.008125 * 100vw + 14.4px );
}
.bag__wrapper .bag__items .bag__clear p {
  font-size: calc( 0.00375 * 100vw + 10.8px );
}
.bag__wrapper .bag__items .bag__block {
  width: 95%;
  margin: 10px 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 10px;
  text-decoration: none;
}
.bag__wrapper .bag__items .bag__block .block__img {
  max-width: 30%;
  margin: auto;
}
.bag__wrapper .bag__items .bag__block .block__img img {
  max-width: 90%;
}
.bag__wrapper .bag__items .bag__block .block__content {
  position: relative;
  margin: 0 0 0 10px;
  width: 70%;
  color: black;
}
.bag__wrapper .bag__items .bag__block .block__content .block__close {
  right: 0;
  top: -15px;
  cursor: pointer;
  font-size: calc( 0.00625 * 100vw + 13px );
  font-weight: 900;
  color: #58585e;
  position: absolute;
}
.bag__wrapper .bag__items .bag__block .block__content .rent {
  color: #58585e;
  font-weight: 500;
  margin: calc( 0.0125 * 100vw + -4px ) 0 0 0;
}
.bag__wrapper .bag__items .bag__block .block__content p, .bag__wrapper .bag__items .bag__block .block__content a {
  text-decoration: none;
  color: black;
  font-size: calc( 0.005 * 100vw + 10.4px );
  font-weight: 900;
  margin: 10px 0;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input {
  margin: auto 0 0px 0;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner {
  display: flex;
  flex-direction: row;
  border: 1px solid #58585e;
  margin: auto 10px auto 0;
  padding: 0 5px;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_minus,
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_plus,
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_minusMonth,
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_plusMonth,
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .quantity {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
  font-weight: 500;
  font-size: calc( 0.009375 * 100vw + 17px );
  margin: 0;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_plus,
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_plusMonth {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_minus,
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .bt_minusMonth {
  margin: -2px 0 0 0;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .fd-col {
  margin: 0;
  font-size: calc( 0.003125 * 100vw + 7px );
  text-align: center;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .quantity_inner .fd-col .quantity {
  width: 50px;
  text-align: center;
  font-size: calc( 0.005 * 100vw + 15.4px );
  font-weight: bold;
  color: #000;
  margin: 0;
  width: 100%;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .block-col {
  margin: auto 0 0 auto;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .block-col .block__price,
.bag__wrapper .bag__items .bag__block .block__content .block__input .block-col .block__discount {
  margin: 5px 0 0 0;
}
.bag__wrapper .bag__items .bag__block .block__content .block__input .block-col .block__discount {
  font-size: calc( 0.005 * 100vw + 8.4px );
  text-decoration: line-through;
  color: #58585e;
}
.bag__wrapper .bag .bag__price {
  width: 24%;
}
.bag__wrapper .bag .bag__price .bag__promoCode input {
  font-size: calc( 0.0071428571 * 100vw + 6.2857142857px );
  font-weight: 100;
  padding: 7px;
  outline: none;
  border: 1px solid #58585e;
}
.bag__wrapper .bag .bag__price .bag__promoCode button {
  background-color: #19103C;
  padding: 7px;
  font-size: calc( 0.00625 * 100vw + 8px );
  color: white;
  font-weight: 100;
  border: none;
}
.bag__wrapper .bag .bag__price .input__price {
  margin: calc( 0.005 * 100vw + 10.4px ) 0 10px 0;
  font-size: calc( 0.003125 * 100vw + 14px );
  font-weight: 900;
}
.bag__wrapper .bag .bag__price .input__price p {
  margin: 10px 5px 0 0;
}
.bag__wrapper .bag .bag__price .input__price #price {
  font-size: calc( 0.008125 * 100vw + 14.4px );
  font-weight: 900;
}
.bag__wrapper .bag .bag__price span {
  font-size: calc( 0.004375 * 100vw + 11.6px );
  font-weight: 900;
}
.bag__wrapper .bag .bag__price .input__discount {
  margin: 10px 0 calc( 0.005 * 100vw + 10.4px ) 0;
  font-weight: 900;
}
.bag__wrapper .bag .bag__price .input__discount p {
  margin: 5px 5px 0 0;
}
.bag__wrapper .bag .bag__price .input__discount #discount {
  font-size: calc( 0.005625 * 100vw + 11.2px );
  color: #f91155;
}
.bag__wrapper .bag .bag__price .delivery,
.bag__wrapper .bag .bag__price .self-call {
  margin: 10px 0;
  font-size: calc( 0.004375 * 100vw + 11.6px );
}
.bag__wrapper .bag .bag__price input[type=checkbox] {
  margin: auto 10px auto 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #adb5bd;
  cursor: pointer;
  vertical-align: bottom;
}
.bag__wrapper .bag .bag__price input[type=checkbox]:checked {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
}
.bag__wrapper .bag .bag__price input[type=checkbox]:after {
  content: " ";
  position: relative;
  left: 35%;
  top: 10%;
  width: 15%;
  height: 50%;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(50deg);
  display: none;
}
.bag__wrapper .bag .bag__price input[type=checkbox]:checked:after {
  display: block;
}
.bag__wrapper .bag .bag__price input[type=tel],
.bag__wrapper .bag .bag__price #adress {
  margin: 10px auto 0 0;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #58585e;
  width: 60%;
  font-size: calc( 0.0053571429 * 100vw + 7.7142857143px );
  font-weight: 100;
}
.bag__wrapper .bag .bag__price #adress,
.bag__wrapper .bag .bag__price #map__yandex {
  display: none;
}
.bag__wrapper .bag .bag__price #order {
  margin: 10px auto auto 0;
}
.bag__wrapper .bag .bag__price #map__yandex {
  margin: 10px 0;
  width: 100%;
}
.bag__wrapper .bag .bag__price [class*=copyrights-pane] {
  display: none !important;
}

@media (max-width: 1060px) {
  .bag__wrapper .bag {
    flex-direction: column;
  }
  .bag__wrapper .bag__items {
    width: 100%;
    margin: 0 0 calc( 0.0405405405 * 100vw + 7.027027027px ) 0;
  }
  .bag__wrapper .bag .bag__price {
    width: 100%;
  }
  .bag__wrapper .bag .bag__price span {
    margin: 0 0 0 auto !important;
  }
  .bag__wrapper .bag .bag__price #order {
    width: 100%;
  }
  .bag__wrapper .bag .bag__block {
    width: 91%;
  }
}/*# sourceMappingURL=bag.css.map */