@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Inter/Inter-Light.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Regular";
  font-weight: 500;
  src: url("../../fonts/Inter/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Bold";
  font-weight: 900;
  src: url("../../fonts/Inter/Inter-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "fouore";
  src: url("../../fonts/fouore/Furore.otf");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular";
}

main {
  padding: 0 calc( 0.1116071429 * 100vw + -114.2857142857px );
}

.katalog-row .katalog-line, .katalog-row .katalog__filter .label__price, .katalog-row .filter__open, .katalog-row, .katalog-row .katalog-line .card .furniture__CardActive, .katalog-row .katalog-line .card .card__sale, .katalog-row .katalog-line .card .fd-row {
  display: flex;
  flex-direction: row;
}

.katalog-row .katalog__filter .katalog-name,
.katalog-row .katalog__filter .katalog-size,
.katalog-row .katalog__filter .katalog-star, .katalog, .katalog-row .katalog-line .card, main {
  display: flex;
  flex-direction: column;
}

.katalog-row .katalog__filter #clear {
  padding: 10px calc( 0.0208333333 * 100vw + 3.3333333333px );
  color: white;
  font-size: calc( 0.003125 * 100vw + 14px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  text-decoration: none;
  margin: 20px 0 auto auto;
  border: none;
  font-weight: 100;
  transition: 0.3s;
}
.katalog-row .katalog__filter #clear:hover {
  transform: scale(1.02);
}

.katalog-row .katalog-line .card {
  position: relative;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 280px;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.katalog-row .katalog-line .card .rent {
  font-size: calc( 0.003125 * 100vw + 14px );
  color: #58585e;
  margin: auto 0 5px 0;
}
.katalog-row .katalog-line .card .info {
  font-size: calc( 0.003125 * 100vw + 14px );
  font-weight: 900;
  margin: 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.katalog-row .katalog-line .card .card__bag {
  cursor: pointer;
  margin: auto 0 0 auto;
  padding: calc( 0.0024590164 * 100vw + 0.2786885246px ) calc( 0.0040983607 * 100vw + 12.131147541px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border: none;
}
.katalog-row .katalog-line .card .card__bagActive {
  background: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
  background: transparent;
  text-decoration: none;
  color: black;
}
.katalog-row .katalog-line .card .card__img {
  cursor: pointer;
  width: 100%;
  margin: auto 0 0 0;
}
.katalog-row .katalog-line .card .fd-row .card__arrow {
  margin: auto 0 auto auto;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.katalog-row .katalog-line .card .fd-row .star {
  font-size: calc( 0.0049180328 * 100vw + 10.5573770492px );
  font-weight: 900;
  margin: auto 0;
}
.katalog-row .katalog-line .card .card__sale {
  margin: 10px 0 0 0;
}
.katalog-row .katalog-line .card .card__sale .fd-col .discount {
  text-decoration: line-through;
  color: #58585e;
  font-size: calc( 0.003125 * 100vw + 14px );
  margin: calc( 0.0093457944 * 100vw + -7.9439252336px ) 0 0 0;
}
.katalog-row .katalog-line .card .card__sale .fd-col .card__price {
  font-size: calc( 0.001875 * 100vw + 16.4px );
  font-weight: 900;
  margin: 0;
}
.katalog-row .katalog-line .card .furniture__CardActive {
  border-radius: 20px;
  width: 65%;
  background-color: #5134c4;
  position: absolute;
  bottom: -18px;
  right: 10px;
}
.katalog-row .katalog-line .card .furniture__CardActive .furniture__bagActive {
  margin: auto 0 auto auto;
  background: white !important;
  border-radius: 50%;
  padding: calc( 0.0025 * 100vw + 0.2px ) calc( 0.0025 * 100vw + 5.2px );
  border: 2px solid #5134c4;
  font-size: 20px;
}
.katalog-row .katalog-line .card .furniture__CardActive p {
  text-align: center;
  margin: auto 0 auto auto;
  color: white;
  font-size: calc( 0.00375 * 100vw + 8.8px );
}

.main_fixed {
  margin-top: 90px;
}

.katalog {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.katalog span a {
  text-decoration: none;
  color: black;
  font-size: calc( 0.005 * 100vw + 10.4px );
}
.katalog h1 {
  font-size: calc( 0.009375 * 100vw + 17px );
}
.katalog-row p, .katalog-row label {
  font-weight: 900;
  font-size: calc( 0.00375 * 100vw + 10.8px );
}
.katalog-row p span, .katalog-row label span {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5134c4;
}
.katalog-row #firstFilter {
  margin: 0;
  font-size: calc( 0.00375 * 100vw + 10.8px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5134c4;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.katalog-row #firstFilter::after {
  border: 0px solid #000;
}
.katalog-row .filter__open {
  cursor: pointer;
  display: none;
  font-size: 20px;
  margin: auto 0px auto auto;
}
.katalog-row .filter__open img {
  margin: auto 10px;
  max-width: 23%;
}
.katalog-row .filter__close {
  display: none;
  font-size: 30px;
  margin: auto 0px auto auto;
  font-weight: 100;
}
.katalog-row .katalog__kol {
  margin: auto 0 auto 50px;
}
.katalog-row .katalog__filter {
  padding: 10px;
  width: 20%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
}
.katalog-row .katalog__filter h2 {
  font-size: 20px;
}
.katalog-row .katalog__filter .label__price {
  width: 50%;
  padding: 6px 10px;
  border: 1px solid #A9A9A9;
  margin: auto 10px auto 0;
  color: #A9A9A9;
}
.katalog-row .katalog__filter .label__price .katalog__price {
  padding: 0 0 0 5px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.katalog-row .katalog__filter .katalog-name label,
.katalog-row .katalog__filter .katalog-size label,
.katalog-row .katalog__filter .katalog-star label {
  width: 100%;
  font-size: calc( 0.001875 * 100vw + 12.4px );
  margin: 7px 0;
}
.katalog-row .katalog__filter .katalog-star label {
  font-size: calc( 0.001875 * 100vw + 14.4px );
}
.katalog-row .katalog__filter .container {
  position: relative;
  width: 100%;
  height: 60px;
}
.katalog-row .katalog__filter .container input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.katalog-row .katalog__filter .container .slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.katalog-row .katalog__filter .container input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
.katalog-row .katalog__filter .container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
.katalog-row .katalog__filter input[type=checkbox] {
  margin: auto 10px auto 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #adb5bd;
  cursor: pointer;
  vertical-align: bottom;
}
.katalog-row .katalog__filter input[type=checkbox]:checked {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
}
.katalog-row .katalog__filter input[type=checkbox]:after {
  content: " ";
  position: relative;
  left: 35%;
  top: 10%;
  width: 15%;
  height: 50%;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(50deg);
  display: none;
}
.katalog-row .katalog__filter input[type=checkbox]:checked:after {
  display: block;
}
.katalog-row .katalog-line {
  width: 80%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.katalog-row .katalog-line .card {
  width: calc( 0.144375 * 100vw + 28.8px );
  margin: 7px;
}

@media (max-width: 1024px) {
  .katalog .katalog__filter {
    background-color: white;
    z-index: 10;
    transition: all 300ms;
    top: 0;
    right: -70%;
    position: fixed;
    width: 62%;
    height: 100%;
  }
  .katalog .filter__open,
.katalog .filter__close {
    display: flex;
  }
  .katalog .katalog-line {
    width: 100%;
  }
  .katalog .katalog-line .card {
    width: calc( 0.2514204545 * 100vw + -12.4545454545px );
  }
}
@media (max-width: 730px) {
  .katalog .katalog-line .card {
    width: calc( 0.3829268293 * 100vw + -12.5365853659px );
  }
}
@media (max-width: 440px) {
  .katalog .katalog__kol {
    display: none;
  }
  .katalog .katalog-line .card {
    margin: 10px 0;
    width: 400px;
  }
  .katalog .katalog-line .card .card__img {
    margin: 0 50px;
    width: 70%;
  }
  .katalog .katalog-line .card .card__sale .fd-col {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0 0 0;
  }
  .katalog .katalog-line .card .card__sale .fd-col .card__price {
    margin: 0 10px 0 0;
  }
  .katalog .katalog-line .card .card__sale .fd-col .discount {
    margin: auto 0;
  }
}/*# sourceMappingURL=katalog.css.map */