@import "../general.scss";
main{
    @extend %main;
}
.main_fixed{
    margin-top: 90px
}
.headerTop__fixed{
    border-bottom: 1px solid $gray;
    position: fixed;
    width: calcFluid(300, 1500, 320, 1920);
    padding:0 calcFluid(10, 300, 320, 1920);
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}
.search__modal{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    .search__header{
        display: flex;
        flex-direction: row;
        position: relative;
        .search{
            width: 80%;
            margin: 20px;
        }
        img{
            right: calcFluid(110, 180, 320, 1024);
            top: 27px;
        }
        p{
            margin: auto 20px auto 0px;
            font-size: calcFluid(18, 20, 1024, 1920);
        }
    }
    .search__block{
        box-shadow: none;
        position:static;
        margin: 0 12px;
        a{
            font-size: calcFluid(17, 20, 1024, 1920);
        }
    }
    @extend %search;

}

header {
    padding: 20px calcFluid(0, 100, 1024, 1920);
    @extend %d-col;
    .headerTop {
        @extend %d-row;
        padding: 0 calcFluid(5, 200, 320, 1920) calcFluid(8, 15, 320, 1920);
        border-bottom: 1px solid $gray;
        &__logo {
            @extend %general__logo;
            color: black;
            margin: auto 0;
        }
        &__search {
            @extend %d-row;
            position: relative;
            margin: auto calcFluid(10, 40, 320, 1920);
            @extend %search;
            .search{
                padding: 10px calcFluid(10, 600, 320, 1920) 10px 4px;
            }  
        }
        .search__media{
            display: none;
        }
        &__log {
            @extend %d-row;
            margin-left: auto;
            .login,
            .register {
                @extend %general__log;
            }
            .register {
                border: 1px solid;
                border-image-source:  $gradient;
                border-image-slice: 1;
                &:hover {
                    background: $gradient;
                    color: white;
                }
            }
            .exit{
                cursor: pointer;
                font-size:calcFluid(13, 18, 320, 1920);
                font-weight: 100;
                color: black;
                border: 1.5px solid;
                border-image-source:$gradient;
                border-image-slice:1;
                background:$gradient; 
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
}
.adminHtml{
    .orders__trackObert{
        display: none;
        flex-direction: column;
        .orders__track{
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            @extend %d-col;
            padding: calcFluid(10, 18, 320, 1920) calcFluid(10, 18, 320, 1920) calcFluid(20, 30, 320, 1920) calcFluid(10, 18, 320, 1920) ;
            .orders__trackInfo{
                @extend %d-row;
                justify-content: center;
                .orders__trackInfoCol{
                    margin: 0 auto;
                    @extend %d-col;
                    p{  
                        text-align: center;
                        margin: 0;
                        font-weight: 900;
                        font-size: calcFluid(12, 20, 320, 1920);
                    }
                    .date{
                        margin: 5px 0 25px 0;
                        font-weight: 500;
                        color: #58585e;
                    }
                }
            }
            .orders__trackRadius{
                @extend %d-row;
                position: relative;
                .borderRadius1,
                .borderRadius2,
                .borderRadius3,
                .borderRadius4{
                    cursor: pointer;
                    position: absolute;
                    border-radius: 50%;
                    background: gray;
                    width: calcFluid(20, 42, 320, 1920);
                    height: calcFluid(20, 42, 320, 1920);
                    margin: 0 auto;
                    top: calcFluid(-10, -20, 320, 1920);
                    img{
                        margin: calcFluid(4, 8, 320, 1920);
                        width: 60%;
                    }
                }
                .borderRadius1{
                    left: calcFluid(20, 135, 320, 1920);
                }
                .borderRadius2{
                    left: calcFluid(100, 465, 320, 1920);
                }
                .borderRadius3{
                    left:  calcFluid(175, 795, 320, 1920);
                }
                .borderRadius4{
                    left: calcFluid(250, 1108, 320, 1920);
                }
                .active{
                    background:$gradient; 
                }
                .borderActive{
                    border: 2px solid gray !important;
                    border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4) !important;
                    border-image-slice: 1 !important;
                    background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .border1,
                .border2,
                .border3{
                    border: 2px solid gray;
                    width: 100%;
                }
                .border1{
                    margin: 0 0 0 calcFluid(20, 150, 320, 1920);
                }
                .border3{
                    margin: 0 calcFluid(20, 150, 320, 1920) 0 0;
                }
            }
        }
        .buton__row{
            @extend %d-row;
            .writeToShop{
                @extend %more;
                margin:15px 10px 40px 0;
                width: 30%;
            }
            .saveChanges{
                margin:15px 0 40px 0;
                width: 70%;
                cursor: pointer;
                font-size:calcFluid(13, 18, 320, 1920);
                font-weight: 100;
                color: black;
                border: 1.5px solid;
                border-image-source:$gradient;
                border-image-slice:1;
                background:$gradient; 
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
    padding: 0 calcFluid(8, 200, 320, 1920);
    .orders{
        @extend %d-col;
        h1{
            font-size: calcFluid(18, 30, 320, 1920);
        }
        .order__clear{
            text-align: center;
            margin: auto;
            h2, p{
                text-align: center;
             }
             h2{
                 font-size: calcFluid(17, 30, 320, 1920);
             }
             p{
                 font-size: calcFluid(12, 18, 320, 1920);
             }
        }
    }
    .bag__block {
        margin: 10px 0;
        @extend %d-row;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        padding: 10px;
        text-decoration: none;
        .block__img, 
        .block__imgJS {
            max-width: 30%;
            margin: auto;
            img {
                max-width: 90%;
            }
        }
        .block__imgJS{
            max-width: 25%;
            img {
                max-width: 100%;
            }
        }

        .block__content {
            position: relative;
            margin: 0 0 0 10px;
            width: 70%;
            @extend %d-col;
            color: black;
            .block__orderNew,
            .block__orderTrack,
            .block__orderAccept {
                right: 0;
                top: -15px;
                cursor: pointer;
                font-size: calcFluid(15, 20, 320, 1920);
                font-weight: 900;
                color: #58585e;
                position: absolute;
            }
            .block__orderNew{color: red;}
            .block__orderTrack{color: gray;}
            .block__orderAccept{color: green;}
            .rent {
                color: #58585e;
                font-weight: 500;
                margin: 0 0 calcFluid(10, 20, 320, 1920) 0;
                font-size: calcFluid(12, 18, 320, 1920);
                span{
                    color: black;
                    font-weight: 1000;
                }
            }

            .orderNumber {
                text-decoration: none;
                color: black;
                font-size: calcFluid(12, 20, 320, 1920);
                font-weight: 900;
                margin: 10px 0;
            }
            .track{
                @extend %more;
                padding: calcFluid(2, 10, 320, 1920)  calcFluid(20, 45, 320, 1920);
                margin: auto auto 0 0;
                cursor: pointer;
            }
            .active{
                background: gray;
              }
            .block__inputRow{ @extend %d-row;}
            .block__input{
                @extend %d-col;
                .fd-col{
                    margin: 0;
                    font-weight: 500;
                    color: #58585e;
                    font-size: calcFluid(10, 16, 320, 1920);
                    span{
                        font-size: calcFluid(12, 20, 320, 1920);
                        color: black;
                    }
                }
                .fd-col:nth-child(1){
                    margin: auto 0 10px 0;
                }
            }
            .block-col {
                margin: auto 0 0 auto;

                .block__price,
                .block__discount {
                    margin: 5px 0 0 0;
                }

                .block__discount {
                    font-size: calcFluid(10, 18, 320, 1920);
                    text-decoration: line-through;
                    color: #58585e;
                }
            }
        }
    }
    .orders__info {
        width: 100%;
        @extend %d-col;
        .input__price,
        .input__delivery,
        .input__deliveryDate {
            @extend %d-row;
            margin: calcFluid(12, 20, 320, 1920) 0 10px 0;
            font-size: calcFluid(15, 20, 320, 1920);
            font-weight: 900;
            p {margin: 10px 5px 0 0;}
            #price {
                font-size: calcFluid(17, 30, 320, 1920);
                font-weight: 900;
            }                
        }
        span, input {
            margin: 0 0 0 auto !important;
            font-size: calcFluid(13, 20, 320, 1920);
            font-weight: 900;
        }
        input{font-weight: 100;}
        .input__delivery {
            margin: 0;
        }
        .input__discount{
            margin: 10px 0 calcFluid(12, 20, 320, 1920) 0;
            @extend %d-row;
            font-weight: 900;
            p {margin: 5px 5px 0 0;}
            #discount {
                font-size: calcFluid(13, 22, 320, 1920);
                color: #f91155;
            }
        }
    }
}
//TODO: сделать поиск заказов
// @media(max-width: 680px){
//     header .headerTop {
//         .headerTop__search{
//             display: none;
//         }
//         .search__media{
//         display: flex;
//         }
//     }
// }