@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Inter/Inter-Light.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Regular";
  font-weight: 500;
  src: url("../../fonts/Inter/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "Inter-Bold";
  font-weight: 900;
  src: url("../../fonts/Inter/Inter-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: "fouore";
  src: url("../../fonts/fouore/Furore.otf");
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular";
}

main {
  padding: 0 calc( 0.1116071429 * 100vw + -114.2857142857px );
}

.furniture .fd-row, .furniture, .transportation_wrapper .transportation__contant .transportation__row, .transportation_wrapper .transportation__block, .transportation_wrapper .transportation, .furniture .card .furniture__CardActive, .furniture .card .card__sale, .furniture .slider .furniture-line, .transportation_wrapper .transportation__block .slider-wrapper .slider .furniture-line,
.furniture .slider .katalog-line,
.transportation_wrapper .transportation__block .slider-wrapper .slider .katalog-line,
.furniture .slider .slider-line,
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line, .furniture .slider, .transportation_wrapper .transportation__block .slider-wrapper .slider {
  display: flex;
  flex-direction: row;
}

.transportation_wrapper .transportation__contant .quantity_inner .fd-col, .transportation_wrapper .transportation__contant, .transportation_wrapper .transportation__block .transportation__img, .transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line, .transportation_wrapper .transportation__block .slider-wrapper .slider, .transportation_wrapper .transportation__block .slider-wrapper, .transportation_wrapper, .furniture .card, main {
  display: flex;
  flex-direction: column;
}

.transportation_wrapper .transportation__contant .more {
  padding: 10px calc( 0.0208333333 * 100vw + 3.3333333333px );
  color: white;
  font-size: calc( 0.003125 * 100vw + 14px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  text-decoration: none;
  margin: 20px 0 auto auto;
  border: none;
  font-weight: 100;
  transition: 0.3s;
}
.transportation_wrapper .transportation__contant .more:hover {
  transform: scale(1.02);
}

.furniture .slider, .transportation_wrapper .transportation__block .slider-wrapper .slider {
  overflow: hidden;
}
.furniture .slider .furniture-line, .transportation_wrapper .transportation__block .slider-wrapper .slider .furniture-line,
.furniture .slider .katalog-line,
.transportation_wrapper .transportation__block .slider-wrapper .slider .katalog-line,
.furniture .slider .slider-line,
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line {
  position: relative;
  width: 200%;
  left: 0;
  transition: all ease 0.7s;
}

.furniture .prev__active,
.furniture .next__active {
  border: 1.5px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.furniture .card {
  position: relative;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 280px;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.furniture .card .rent {
  font-size: calc( 0.003125 * 100vw + 14px );
  color: #58585e;
  margin: auto 0 5px 0;
}
.furniture .card .info {
  font-size: calc( 0.003125 * 100vw + 14px );
  font-weight: 900;
  margin: 0;
  text-decoration: none;
  color: black;
}
.furniture .card .card__bag {
  cursor: pointer;
  margin: auto 0 0 auto;
  padding: calc( 0.0024590164 * 100vw + 0.2786885246px ) calc( 0.0040983607 * 100vw + 12.131147541px );
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border: none;
}
.furniture .card .card__bagActive {
  background: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
  background: transparent;
  text-decoration: none;
  color: black;
}
.furniture .card .card__img {
  width: 100%;
  margin: auto 0 0 0;
}
.furniture .card .fd-row .card__arrow {
  margin: auto 0 auto auto;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: black;
}
.furniture .card .fd-row .star {
  font-size: calc( 0.0049180328 * 100vw + 10.5573770492px );
  font-weight: 900;
  margin: auto 0;
}
.furniture .card .card__sale {
  margin: 10px 0 0 0;
}
.furniture .card .card__sale .fd-col .discount {
  text-decoration: line-through;
  color: #58585e;
  font-size: calc( 0.003125 * 100vw + 14px );
  margin: calc( 0.0093457944 * 100vw + -7.9439252336px ) 0 0 0;
}
.furniture .card .card__sale .fd-col .card__price {
  font-size: calc( 0.001875 * 100vw + 16.4px );
  font-weight: 900;
  margin: 0;
}
.furniture .card .furniture__CardActive {
  border-radius: 20px;
  width: 65%;
  background-color: #5134c4;
  position: absolute;
  bottom: -18px;
  right: 10px;
}
.furniture .card .furniture__CardActive .furniture__bagActive {
  margin: auto 0 auto auto;
  background: white !important;
  border-radius: 50%;
  padding: calc( 0.0025 * 100vw + 0.2px ) calc( 0.0025 * 100vw + 5.2px );
  border: 2px solid #5134c4;
  font-size: 20px;
}
.furniture .card .furniture__CardActive p {
  text-align: center;
  margin: auto 0 auto auto;
  color: white;
  font-size: calc( 0.00375 * 100vw + 8.8px );
}

.main_fixed {
  margin-top: 90px;
}

.transportation_wrapper {
  padding: 0 calc( 0.12 * 100vw + -30.4px );
}
.transportation_wrapper .line {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #ECECEC;
}
.transportation_wrapper span a {
  text-decoration: none;
  color: black;
  font-size: calc( 0.005 * 100vw + 10.4px );
}
.transportation_wrapper .transportation {
  margin-top: 50px;
}
.transportation_wrapper .transportation__block {
  width: 60%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.transportation_wrapper .transportation__block .slider-wrapper {
  width: 25%;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider {
  height: calc( 0.1004464286 * 100vw + 165.1428571429px );
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line {
  width: 100%;
  top: 0;
  height: 300%;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line .slider__img {
  width: 88%;
  padding: 10px 2px;
  margin: 5px 0;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border: 3px solid white;
}
.transportation_wrapper .transportation__block .slider-wrapper .slider .slider-line .active {
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
}
.transportation_wrapper .transportation__block .slider-wrapper .prev,
.transportation_wrapper .transportation__block .slider-wrapper .next {
  transform: rotate(90deg);
  margin: auto;
  font-size: calc( 0.00625 * 100vw + 18px );
  color: gray;
  font-weight: 900;
  cursor: pointer;
}
.transportation_wrapper .transportation__block .slider-wrapper .active {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5134c4;
}
.transportation_wrapper .transportation__block .transportation__img {
  width: 80%;
}
.transportation_wrapper .transportation__block .transportation__img .star {
  margin: 0 0 0 auto;
  font-weight: 900;
  font-size: calc( 0.00375 * 100vw + 15.8px );
}
.transportation_wrapper .transportation__block .transportation__img img {
  margin: auto;
  width: 90%;
}
.transportation_wrapper .transportation__block .transportation__img .chooseMore {
  margin: auto 0 0 auto;
  padding: calc( 0.003125 * 100vw + 4px ) calc( 0.00625 * 100vw + 8px );
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
  background: transparent;
  text-decoration: none;
  color: black;
}
.transportation_wrapper .transportation__contant {
  margin: 0 0 0 calc( 0.0125 * 100vw + 16px );
  width: 40%;
}
.transportation_wrapper .transportation__contant h1 {
  margin: 0 0 20px 0;
  font-size: calc( 0.004375 * 100vw + 23.6px );
}
.transportation_wrapper .transportation__contant p {
  font-size: calc( 0.001875 * 100vw + 14.4px );
  color: #58585e;
  font-weight: 900;
  margin: 7px 0;
}
.transportation_wrapper .transportation__contant p span {
  color: black;
}
.transportation_wrapper .transportation__contant .transportation__all {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transportation_wrapper .transportation__contant .transportation__row {
  margin: auto 0 0 0;
}
.transportation_wrapper .transportation__contant .transportation__row p:nth-child(1) {
  font-size: calc( 0.00625 * 100vw + 18px );
  color: black;
  margin: auto 0 10px 0;
}
.transportation_wrapper .transportation__contant .transportation__row p:nth-child(2) {
  font-size: calc( 0.005 * 100vw + 15.4px );
  color: #58585e;
  margin: auto 0 10px 10px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.transportation_wrapper .transportation__contant .quantity_inner {
  box-sizing: border-box;
  display: inline-flex;
  border: 2px solid gray;
  padding: 0px 16px;
  margin: auto auto 0 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_minus,
.transportation_wrapper .transportation__contant .quantity_inner .bt_plus,
.transportation_wrapper .transportation__contant .quantity_inner .bt_minusMonth,
.transportation_wrapper .transportation__contant .quantity_inner .bt_plusMonth,
.transportation_wrapper .transportation__contant .quantity_inner .quantity {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
  font-weight: 500;
  font-size: 35px;
  margin: 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_plus,
.transportation_wrapper .transportation__contant .quantity_inner .bt_plusMonth {
  background: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transportation_wrapper .transportation__contant .quantity_inner .bt_minus,
.transportation_wrapper .transportation__contant .quantity_inner .bt_minusMonth {
  margin: -5px 0 0 0;
}
.transportation_wrapper .transportation__contant .quantity_inner .fd-col {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
.transportation_wrapper .transportation__contant .quantity_inner .fd-col .quantity {
  width: 50px;
  text-align: center;
  font-size: calc( 0.008125 * 100vw + 14.4px );
  font-weight: bold;
  color: #000;
  margin: 0 15px;
}
.transportation_wrapper .transportation__contant .more {
  margin: 10px auto 0 0;
}
.transportation_wrapper .transportation__contant .moreActive {
  background: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #5134c4, #773cbc, #b856d4);
  border-image-slice: 1;
  background: transparent;
  text-decoration: none;
  color: black;
}
.transportation_wrapper .transportation__info {
  width: 60%;
}
.transportation_wrapper .transportation__info h2 {
  font-size: calc( 0.003125 * 100vw + 19px );
  margin: 18px 0 10px 0;
}
.transportation_wrapper .transportation__info h3 {
  font-size: calc( 0.003125 * 100vw + 14px );
  margin: 0;
}
.transportation_wrapper .transportation__info p {
  font-size: calc( 0.00375 * 100vw + 10.8px );
}

.furniture {
  padding: calc( 0.0075 * 100vw + 5.6px ) 40px calc( 0.0075 * 100vw + 5.6px ) calc( 0.12 * 100vw + -30.4px );
  background-color: #F2F2F2;
  margin-right: calc( 0.12 * 100vw + -30.4px );
}
.furniture .content {
  margin: auto 0;
  padding: 0;
  width: 35%;
}
.furniture .content p {
  display: block;
}
.furniture .card {
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.25);
}
.furniture .card .card__img {
  width: 60%;
  margin: auto auto 0 auto;
}
.furniture .card .card__bag {
  position: absolute;
  bottom: -20px;
  right: 10px;
  border-radius: 50%;
  padding: 5px 10px;
  background: none;
  border: 2px solid #5134c4;
  font-size: 20px;
}
.furniture .slider {
  padding: 20px 0 20px 0;
  width: 65%;
}
.furniture h2 {
  font-weight: 900;
  font-size: calc( 0.010625 * 100vw + 9.6px );
}
.furniture p {
  font-size: calc( 0.0065420561 * 100vw + 7.4392523364px );
  margin: 0 0 20px 0;
}
.furniture .prevFurniture,
.furniture .nextFurniture {
  color: gray;
  padding: 0px 5px 5px 5px;
  font-size: calc( 0.0055803571 * 100vw + 19.2857142857px );
  margin: 20px 0 0 10px;
}
.furniture .prev {
  margin: 20px 0 0 0;
}

@media (max-width: 1024px) {
  .transportation_wrapper .transportation {
    display: flex;
    flex-direction: column;
  }
  .transportation_wrapper .transportation .transportation__block {
    width: 100%;
    padding: 0;
  }
  .transportation_wrapper .transportation .slider-wrapper {
    width: 25%;
    margin: 10px 0 10px 10px;
  }
  .transportation_wrapper .transportation .slider-wrapper .slider {
    height: calc( 0.1704545455 * 100vw + 80.4545454545px );
  }
  .transportation_wrapper .transportation .transportation__img {
    width: 80%;
  }
  .transportation_wrapper .transportation .transportation__img .main__img {
    margin: 10px auto 0 auto;
    width: 70%;
  }
  .transportation_wrapper .transportation .transportation__img .star {
    margin: 10px 10px 0 auto;
  }
  .transportation_wrapper .transportation .transportation__img .chooseMore {
    margin: auto 10px 10px auto;
  }
  .transportation_wrapper .transportation .transportation__contant {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .transportation_wrapper .transportation__info {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .furniture {
    margin-top: 40px;
  }
  .furniture .slider .card .card__img {
    max-width: 90%;
  }
  .furniture .slider .furniture-line {
    width: 300%;
  }
}
@media (max-width: 630px) {
  .furniture {
    padding: 10px calc( 0.1193548387 * 100vw + -30.1935483871px );
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .furniture .content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .furniture .content p {
    display: none;
  }
  .furniture .content h2 {
    width: 100%;
    margin: auto 0 auto 0;
    text-align: center;
  }
  .furniture .card .card__img {
    top: calc( -0.0967741935 * 100vw + 60.9677419355px );
    left: calc( 0.064516129 * 100vw + -10.6451612903px );
    max-width: 75%;
  }
  .furniture .slider {
    width: 98%;
  }
  .transportation_wrapper .transportation .transportation__block .slider-wrapper .slider .slider-line .slider__img {
    width: 83%;
  }
}/*# sourceMappingURL=cubinsfordress.css.map */