@import "../general.scss";
main{
    @extend %main;
}
.main_fixed{
    margin-top: 90px
}

.transportation_wrapper{
    .line{
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid #ECECEC;
    }
    padding: 0 calcFluid(8, 200, 320, 1920);
    @extend %d-col;
    span a{
        text-decoration: none;
        color: black;
        font-size: calcFluid(12, 20, 320, 1920);
    }
    .transportation{
        @extend %d-row;
        margin-top: 50px;
        &__block{
            @extend %d-row;
            width: 60%;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
            padding: 20px;
            .slider-wrapper{
                width: 25%;
                @extend %d-col;
                .slider{
                 
                    @extend %slider;
                    @extend %d-col;
                    height: calcFluid(268, 358, 1024, 1920);
                    .slider-line{
                        @extend %d-col; 
                        width: 100%;
                        top: 0;
                        height: 300%;
                        .slider__img{
                            width: 88%;
                            padding: 10px 2px;
                            margin: 5px 0;
                            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
                            border: 3px solid white;
                        }
                        .active{
                            border: 3px solid;
                            border-image-source:$gradient;
                            border-image-slice:1;
                        }
                    }
                }
                .prev,
                .next{
                  transform: rotate(90deg);
                  margin: auto;
                  font-size: calcFluid(20, 30, 320, 1920);
                  color: gray;
                  font-weight: 900;
                  cursor: pointer;
                }
                .active{
                    background:$gradient;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #5134c4;
                }
            }
            .transportation__img{
                width: 80%;
                @extend %d-col; 
                .star{
                    margin: 0 0 0 auto;
                    font-weight: 900;
                    font-size: calcFluid(17, 23, 320, 1920);
                }
                img{
                    margin: auto;
                    width: 90%;
                }
                .chooseMore{
                    margin: auto 0 0 auto;
                    padding: calcFluid(5, 10, 320, 1920) calcFluid(10, 20, 320, 1920);
                    border: 1px solid;
                    border-image-source:linear-gradient(90deg, #5134c4,#773cbc,#b856d4);
                    border-image-slice:1;
                    background: transparent;
                    text-decoration: none;
                    color: black
                }
            }
        }
        &__contant{
            @extend %d-col; 
            margin: 0 0 0  calcFluid(20, 40, 320, 1920);
            width: 40%;
            h1{
                margin: 0 0 20px 0;
                font-size: calcFluid(25, 32, 320, 1920);
            }
            p{
                font-size: calcFluid(15, 18, 320, 1920);
                color: #58585e;
                font-weight: 900;
                margin: 7px 0;
                span{
                    color: black;
                }
            }
            .transportation__all{
                background:$gradient;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .transportation__row{
                @extend %d-row;
                margin: auto 0 0 0;
                p:nth-child(1){
                    font-size:calcFluid(20, 30, 320, 1920) ;
                    color: black;
                    margin: auto 0 10px 0;
                }
                p:nth-child(2){
                    font-size:calcFluid(17, 25, 320, 1920);
                    color: #58585e;
                    margin: auto 0 10px 10px;
                    text-decoration-line: line-through;
                }
            }
            .quantity_inner{
                box-sizing: border-box;    
                display: inline-flex;
                border: 2px solid gray;
                padding: 0px 16px;
                margin: auto auto 0 0;
                .bt_minus,
                .bt_plus,
                .bt_minusMonth,
                .bt_plusMonth,
                .quantity  {
                    padding: 0;
                    border: 0;
                    margin: 0;
                    background: transparent;
                    cursor: pointer;
                    outline: 0;
                    p {
                        font-weight: 500;
                        font-size: 35px;
                        margin: 0;
                    }  
               }
               .bt_plus,
               .bt_plusMonth{
                    background:$gradient;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
               }
               .bt_minus,
               .bt_minusMonth{
                margin: -5px 0 0 0;
               }
               .fd-col{
                @extend %d-col;
                .quantity {
                    width: 50px;
                    text-align: center;
                    font-size: calcFluid(17, 30, 320, 1920);
                    font-weight: bold;
                    color: #000;
                    margin: 0 15px;
                }
                p{
                    margin: 0;
                    font-size: 15px;
                    text-align: center;
                }
               }

            }    
            .more{
                @extend %more;
                margin: 10px auto 0 0;
            }     
        }
    }
    .transportation__info{
        h2{ font-size: calcFluid(20, 25, 320, 1920); margin: 18px 0 10px 0;}
        h3{ font-size: calcFluid(15, 20, 320, 1920); margin: 0;}
        width: 60%;
        p{
            font-size:calcFluid(12, 18, 320, 1920) ;
        }
    }
}
.furniture {
    padding:  calcFluid(8, 20, 320, 1920) 40px  calcFluid(8, 20, 320, 1920) calcFluid(8, 200, 320, 1920) ;
    background-color: #F2F2F2;
    @extend %d-row;
    margin-right: calcFluid(8, 200, 320, 1920);
    .content{
        margin: auto 0;
        padding: 0;
        width: 35%;
        p{
            display: block;
        }
    }
    .card {
        box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.25);
        @extend %card;
        .card__img{
            width: 60%;
            margin:  auto auto 0 auto ;
        }
        .card__bag{
            position: absolute; 
            bottom: -20px;
            right: 10px;
            border-radius: 50%;
            padding: 5px 10px;
            background: none;
            border:2px solid #5134c4;
            font-size: 20px;
        }
    }
    .slider{
        padding: 20px 0 20px 0;
        @extend %slider;
        width: 65%;
    }
    h2{
        font-weight: 900;
        font-size: calcFluid(13, 30, 320, 1920);
    }
    p{
        font-size: calcFluid(13, 20, 850, 1920);
        margin: 0 0 20px 0 ;
    }
    .prev__active,
    .next__active{
        @extend %sliderBtn;
    }
    .fd-row{
        @extend %d-row
    }
    .prevFurniture, 
    .nextFurniture{
        color: gray;
        padding: 0px 5px 5px 5px;
        font-size: calcFluid(25, 30, 1024, 1920);
        margin: 20px 0 0 10px;
    }
    .prev{
        margin: 20px 0 0 0;
    }
}
@media(max-width: 1024px){
    .transportation_wrapper {
        .transportation{
            display: flex;
            flex-direction: column;
            .transportation__block{
                width: 100%;
                padding: 0;
            }
            .slider-wrapper{
                width: 25%;
                margin: 10px 0 10px 10px;
                .slider{
                    height: calcFluid(135, 255, 320, 1024);
                }
            }
            .transportation__img{
                width: 80%;
                .main__img{
                    margin:10px auto 0 auto;
                    width: 70%;
                }
                .star{
                    margin: 10px 10px 0 auto;
                }
                .chooseMore{
                    margin: auto 10px 10px auto;
                }
            }
            .transportation__contant{
                width: 100%;
                margin: 20px 0 0 0;
    
            }
    
        }
        .transportation__info{
            width: 100%;
        }
    }
}

@media(max-width: 850px){
    .furniture {
        margin-top: 40px;
        .slider{
            .card{
                .card__img{
                    max-width: 90%;
                }
            }
            .furniture-line{
                width: 300%;
            }
        }
    }
}
@media(max-width: 630px){
    .furniture{
        padding: 10px calcFluid(8, 45, 320, 630) ;
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column-reverse;
        .content{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            p{display: none;}
            h2{
                width: 100%;
                margin: auto 0 auto 0;
                text-align: center;
            }
        }
        .card{
            .card__img{
                top: calcFluid(30, 0, 320, 630);
                left: calcFluid(10, 30, 320, 630);
                max-width: 75%;
            }
        }
        .slider{
            width: 98%;
        }
    }
    .transportation_wrapper .transportation .transportation__block{
        .slider-wrapper .slider .slider-line .slider__img{
            width: 83%;
        }
    }
}

